.root {
  width: 400px;
  display: block;
  box-sizing: border-box;

  input {
    max-width: 400px;
    padding: 12px;
    min-width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;

  }

  .content {
    overflow: hidden;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 4px;

    .overflowWrapper {
      overflow-y: auto;
      overflow-x: hidden;
      min-height: 200px;
      max-height: 300px;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
      padding: 0;
      margin: 0;
      border-radius: 12px;
      background-color: #fcfcfc;


      li {
        list-style: none;
        font-size: 16px;
        line-height: 32px;
        transition: 0.2s ease-in-out;
        padding: 4px 12px;
        font-weight: 500;
        border-bottom: 1px solid lightgray;

        &:not(.noResults):hover {
          color: #146cff;
          cursor: pointer;
        }

      }
    }
  }
}
